modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFzYXdhenhvY29ndW15Z3B0ZHdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM4NTQxNzAsImV4cCI6MjA5OTQzMDE3MH0.oUJuU5xYH91yA2MBWQ4Wu6dLwZKhAdzhRpbVQp-F1IM"
EXPO_PUBLIC_SUPABASE_URL = "https://asawazxocogumygptdwh.supabase.co"
EXPO_TOKEN = "GkNlkOSlEqOgM1ZQUq_SrwJNcKhQHd9HmtfW8q8h"
